<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="title" content="{{title}} | {{site.name}}" />
    <meta name="description" content="{{site.description}}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="{{twitter.card}}">
    <meta name="twitter:title" content="{{twitter.title}}">

    <meta property="og:title" content="{{og.title}}" />
    <meta property="og:type" content="{{og.type}}" />
    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:site_name" content="{{site.name}}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
        /* inject:styles-critical:css *//* endinject */

    </style>

    <!-- inject:css -->
    <!-- endinject -->

    </head>
    <body class="page-{{currentMenu}}">
        {% block body %}
        {% endblock %}
        <!-- inject:vendors:js -->
        <!-- endinject -->
        <!-- inject:js -->
        <!-- endinject -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153404551-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-153404551-1');
</script>


    </body>
</html>
